.container-places {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: space-around;
    background-color: #F8FCFF;
    margin-bottom: 60px;
}

@media (max-width: 800px) {
    .container-places {
        flex-direction: column;
        display: flex;
    }

    .img-container {
        display: flex;
        flex-direction: column !important;
        height: auto;
        align-items: center;
        gap: 15px;

    }

    .text-place {
        display: flex;
        flex-direction: column;
    }
}

.text-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    color: #894E3F;
    font-weight: bold;
    font-size: 18px;
}

.img-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}

.img {
    width: 320px;
    height: auto;
}