.presentation {
    display: flex;
    flex-direction: row;
    padding: 35px 20px;
    justify-content: space-around;
    background-color: #F8FCFF;
}

@media (max-width: 600px) {
    .presentation {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
    }

    .welcome-title {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .welcome-text {
        width: auto;
    }

    .welcome {
        display: flex;
        flex-direction: column;
    }

    .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .division {
        display: flex;
        flex-direction: column;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
    }

}

.welcome {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.division {
    border-color: red;
    box-sizing: border-box;
    width: 2%;
}

.welcome-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    color: black;
    font-weight: bold;
    font-size: 18px;
}


.img {
    width: 500px;
}

.welcome-container {
    padding: 20px 20px 20px 20px;
}